<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bloles-defaults" version="1.0.1" targetFramework="native" developmentDependency="true" />
  <package id="boost" version="1.60.0.0" targetFramework="native" />
  <package id="builddir" version="3.2.1" targetFramework="native" developmentDependency="true" />
  <package id="bwapi-vc120" version="4.1.2.8" targetFramework="native" developmentDependency="true" />
  <package id="manage-property-sheets" version="1.0.0" targetFramework="native" />
</packages>